{
  "instant": {
    "epochSecond": 1741086185,
    "nanoOfSecond": 489746988
  },
  "thread": "req-175",
  "level": "INFO",
  "loggerName": "audit-events",
  "message": "refresh-token-issued [7efc524b473b4c0eb8246ec5ed6478cc authenticatedClient=\"spa-client\" authenticatedSubject=\"johndoe\" client=\"spa-client\" instant=\"2025-03-04T11:03:05.489620224Z\" server=\"7QIBNQyy\" subject=\"3b5aba986d28551691bf94caff6a29466f521c47365aee02e67517157d25d4c8\"] Refresh token issued for subject \"3b5aba986d28551691bf94caff6a29466f521c47365aee02e67517157d25d4c8\" with client \"spa-client\"",
  "endOfBatch": true,
  "loggerFqcn": "org.apache.logging.log4j.spi.AbstractLogger",
  "contextMap": {
    "RequestId": "G7p261hy"
  },
  "threadId": 42,
  "threadPriority": 5,
  "hostname": "curity-idsvr-runtime-65bddfd64f-jxtxm",
  "timestamp": "2025-03-04T11:03:05.489+0000"
}