{
  "instant": {
    "epochSecond": 1741100658,
    "nanoOfSecond": 338566181
  },
  "level": "WARN",
  "loggerName": "io.curity.identityserver.distributed_db.net.PingSender",
  "message": "[PingSender - Address(host=10.244.2.16, port=6790)] - ping failed",
  "thrown": {
    "commonElementCount": 0,
    "localizedMessage": "Closed",
    "message": "Closed",
    "name": "java.lang.IllegalStateException",
    "extendedStackTrace": "java.lang.IllegalStateException: Closed\n\tat io.curity.identityserver.distributed_db.net.NetVtMessageExchanger.sendMessage$lambda$15(NetVtMessageExchanger.kt:179) ~[identityserver.distributeddb-net-vt-10.0.1-4e7472f5e2.jar:10.0.1-4e7472f5e2]\n\tat io.curity.identityserver.distributed_db.net.MutexRef.withObject$lambda$1(MutexRef.kt:42) ~[identityserver.distributeddb-net-vt-10.0.1-4e7472f5e2.jar:10.0.1-4e7472f5e2]\n\tat io.curity.identityserver.distributed_db.net.AsyncMutex.mutexThread$lambda$1(AsyncMutex.kt:38) ~[identityserver.distributeddb-net-vt-10.0.1-4e7472f5e2.jar:10.0.1-4e7472f5e2]\n\tat java.base/java.lang.VirtualThread.run(Unknown Source) ~[?:?]\n"
  },
  "endOfBatch": true,
  "loggerFqcn": "org.apache.logging.slf4j.Log4jLogger",
  "contextMap": {},
  "threadId": 42,
  "threadPriority": 5,
  "hostname": "curity-idsvr-runtime-65bddfd64f-jxtxm",
  "timestamp": "2025-03-04T15:04:18.338+0000"
}